{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <section class="ui container">

        <form class="ui form" action="message" method="get">

            <div class="field">
                <label>Name:</label>
                <input type="text" name="name">
            </div>

            <div class="field">
                <label>Message</label>
                <input type="text" name="message">
            </div>

            <button class="ui button" type="submit">Send</button>

        </form>

    </section>

{% endblock %}