{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="app">
        <div class="add-product" :class="{'open': formOpen}">
            <div class="button-copy" v-show="!formOpen" @click="formOpen = true">Add Product</div>
            <form @submit="cancel()" action="asset{}" method="POST">

                <div class="row">
                    <input required='' type='text'>
                    <label alt='Product name' placeholder='Type your product name'></label>
                </div>

                <div class="row">
                    <input required='' type='text'>
                    <label alt='Price' placeholder='Type product price'></label>
                </div>

                <div class="row">
                    <input required='' type='number' min="0" max="5" step="0.5">
                    <label alt='Rating' placeholder='Rate'></label>
                </div>

                <div class="row">
                    <input required='' type='text'>
                    <label alt='Description' placeholder='Type product description'></label>
                </div>

                <button type="submit" class="submit-button">Add Product</button>
                <div class="cancel"><span @click="cancel()">Cancel</span></div>
            </form>
        </div>
    </div>
{% endblock %}