<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{asset('build/style.css')}}">
</head>

<body>
{% block body %}{% endblock %}
</body>

{#<script src="{{asset('build/custom.js')}}"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>#}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            formOpen: false,
            productData: {
                title: '',
                rating: '',
                price: '',
                list_price: '',
                is_featured: false } },


        methods: {
            resetForm: function () {
                this.productData = {
                    title: '',
                    rating: '',
                    price: '',
                    list_price: '',
                    is_featured: false };

            },
            cancel: function () {
                this.formOpen = false;
                this.resetForm();
            } } });
</script>
</html>
